<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RestApiSprint</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="666c7d">  <td>23/12/23 21:01:27</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;GetTestClass.TestTearDowm()[pri:0, instance:TestPackage.GetTestClass@1603cd68]">&lt;&lt;TestTearDowm</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1088491512</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>23/12/23 21:01:27</td>   <td>7</td> <td>&nbsp;</td><td title="&lt;&lt;PatchTestClass.TestTearDown()[pri:0, instance:TestPackage.PatchTestClass@9ebe38b]">&lt;&lt;TestTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1088491512</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>23/12/23 21:01:26</td>   <td>-1409</td> <td>&nbsp;</td><td title="&gt;&gt;GetTestClass.TestSetUp()[pri:0, instance:TestPackage.GetTestClass@1603cd68]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1088491512</td>   <td></td> </tr>
<tr bgcolor="666c7d">  <td>23/12/23 21:01:26</td>   <td>-1332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetTestClass.Get_executor()[pri:0, instance:TestPackage.GetTestClass@1603cd68]">Get_executor</td> 
  <td>main@1088491512</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>23/12/23 21:01:26</td>   <td>-1094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatchTestClass.Patch_executor()[pri:0, instance:TestPackage.PatchTestClass@9ebe38b]">Patch_executor</td> 
  <td>main@1088491512</td>   <td></td> </tr>
<tr bgcolor="a67ea1">  <td>23/12/23 21:01:26</td>   <td>-1406</td> <td>&nbsp;</td><td title="&gt;&gt;PatchTestClass.TestSetUp()[pri:0, instance:TestPackage.PatchTestClass@9ebe38b]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1088491512</td>   <td></td> </tr>
</table>
