<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66b3e6">  <td>24/01/22 21:29:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PutTestClassParameters.Put_executor(java.lang.String,java.lang.String)[pri:0, instance:TestClassTestngFileParameterization.PutTestClassParameters@70f02c32]">Put_executor</td> 
  <td>main@862916729</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>24/01/22 21:29:20</td>   <td>4086</td> <td>&nbsp;</td><td title="&lt;&lt;PutTestClassParameters.TestTearDown()[pri:0, instance:TestClassTestngFileParameterization.PutTestClassParameters@70f02c32]">&lt;&lt;TestTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@862916729</td>   <td></td> </tr>
<tr bgcolor="66b3e6">  <td>24/01/22 21:29:16</td>   <td>-45</td> <td>&nbsp;</td><td title="&gt;&gt;PutTestClassParameters.TestSetUp()[pri:0, instance:TestClassTestngFileParameterization.PutTestClassParameters@70f02c32]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@862916729</td>   <td></td> </tr>
</table>
