<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7fdc8">  <td>24/01/22 21:45:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatchTestDataValidation.Patch_executor(java.lang.String,java.lang.String)[pri:0, instance:DataProvider.PatchTestDataValidation@21ba0741]">Patch_executor</td> 
  <td>main@187457031</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>24/01/22 21:45:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PatchTestDataValidation.Patch_executor(java.lang.String,java.lang.String)[pri:0, instance:DataProvider.PatchTestDataValidation@21ba0741]">Patch_executor</td> 
  <td>main@187457031</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>24/01/22 21:45:12</td>   <td>-3982</td> <td>&nbsp;</td><td title="&gt;&gt;PatchTestDataValidation.TestSetUp()[pri:0, instance:DataProvider.PatchTestDataValidation@21ba0741]">&gt;&gt;TestSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@187457031</td>   <td></td> </tr>
<tr bgcolor="b7fdc8">  <td>24/01/22 21:45:17</td>   <td>1618</td> <td>&nbsp;</td><td title="&lt;&lt;PatchTestDataValidation.TestTearDown()[pri:0, instance:DataProvider.PatchTestDataValidation@21ba0741]">&lt;&lt;TestTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@187457031</td>   <td></td> </tr>
</table>
